/* .container {} */
.project {
  display: flex;
  /* padding: 25px 150px; */
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-self: stretch;

}

#project {
  scroll-behavior: smooth;
}

.project .project-grid {
  display: flex;
  /* min-width: fit-content; */
  /* width: 50%; */
  max-width: 100%;
  /* width: 350px; */
  /* width: 100%; */
  justify-content: space-between;
  /* justify-content: center; */
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 50px;
  row-gap: 75px;
  /* align-self: stretch; */
  flex-wrap: wrap;
}

.section-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  align-self: flex-start;
  display: flex;
  /* width: 50%; */
  max-width: 100%;
  width: 555px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-grow: 0;
  /* flex: 1 0 0; */
}

.project-card .tech-stack-icon {
  width: 35px;
}

.project-card .wireframe-placeholder{
  box-sizing: content-box;
  /* max-width: 100%; */
  width: 100%;
  max-height: 374px; 
  overflow: hidden;
  /* background-position: center center; */
  /* background: var(--Spanish-Grey, #9E9E9E); */
}

.project-card .wireframe-placeholder img{
  min-width: 100%;
  min-height: 100%;
  /* max-width: 100%; */
  background-position: center center;
  /* background: var(--Spanish-Grey, #9E9E9E); */
}

.project-card .separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  width: 50%;
}

.project-card .separator .line {
  height: 1px;
  background: #5E5E5E;
}

.project-card .heading-three{
  display: flex;
  width: 100%;
  /* flex-shrink: 0; */

  padding: 10px 0px;
  justify-content: space-between;
  /* flex: 1 1 0; */
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.project-card .heading-three p {
  color: var(--Chinese-Black, #111);
  /* font-family: Inter; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.project-card .body{
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.project-card .project-links{
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  gap: 20px;
}

.project-card .project-links a {
  white-space: nowrap;
  position: relative;
  
}
.project-card .project-links a .tooltip{
  visibility: hidden;
  width: fit-content;
  background-color: black;
  opacity: 70%;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: x-small;
  position: absolute;
  z-index: 1;
  top:120%;
}
.project-card .project-links img {
  width: 30px;
  height: 30px;
}
.project-card .project-links a:hover .tooltip{
  visibility: visible;
}
