
.button {
  display: flex;
  width: 202px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 24px;
  font-weight: '400';
  word-wrap: 'break-word';
}

.primary {
  color: white;
  border-radius: 10px;
  background: var(--Chinese-Black, #111);
}

.primary:hover {
  color: black;
  border: 1px solid var(--Chinese-Black, #111);
  background: var(--White, #FFF);
}

.secondary {
  border-radius: 10px;
  border: 1px solid var(--Chinese-Black, #111);
  color: black;
  background: var(--White, #FFF);
}

.secondary:hover {
  color: white;
  border-radius: 10px;
  background: var(--Chinese-Black, #111);
}

.cta {
  color: white;
  border-radius: 10px;
  background: var(--Chinese-Black, #111);
}

.cta:hover {
  color: black;
  border-radius: 10px;
  border: 1px solid var(--Chinese-Black, #111);
  background: var(--White, #FFF);
}