.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.wrapper .title {
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  text-align: center;
  color: var(--Chinese-Black, #111);
  /* font-family: Inter; */
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .title div {
  color: var(--Chinese-Black, #111);
   font-family: Inter; 
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */

.wrapper p {
  text-align: justify;
}

.hero-cta {
  display: flex;
  /* width: 465px; */
  justify-content: center;
  align-items: center;
  gap: 61px;
}

@media (max-width:640px){
  .hero-cta {
    flex-direction: column;
    row-gap: 12px;
  }
}