.tech-stack-icon{
  display: flex;
  width: 56px;
  justify-content: center;
  align-items: center;
}

.tech-stack-icon img{
  width: 100%;
}

.tech-stack-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 26px;
  flex-wrap: wrap;
}