.navbar{
  display: flex;
  /* flex-direction: row; */
  width: 100%;
}

.navbar ul {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* flex-direction: row; */
}

.navbar .logo {
  flex: 1;
  color: var(--Chinese-Black, #111);
  justify-self: flex-start;
  /* text-align: center; */
  /* font-family: Inter; */
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar .navbar-toggle{
  display: none;
}

.navbar .navbar-toggle:hover{
  cursor: pointer;
}
.navbar li {
  list-style-type: none;
  padding: 8px 16px;
}


.navbar a {
  color: #000;
  /* font-family: Inter; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px ) {
  .navbar ul {
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* justify-content: unset; */
  }

  .navbar ul .navbar-toggle{
    display: block;
    align-self: flex-end;
  }
  
  .navbar .navbar-link{
    display: none;
    width: 100%;
    justify-content: center;
    /* text-align: center; */
  }

  .navbar .active {
    display: grid;
  }
}